.line {
  border-top: 1px solid var(--color-secondary);
  display: block;
  width: 40%;
  margin-bottom: -25px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.5rem;
  margin-top: 5rem;
}

.features li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.features li h3 {
  font-size: 1.7rem;
}

.features li p {
  font-size: 1rem;
  color: var(--color-secondary-dark);
}

@media (min-width: 600px) {
  .line {
    width: 10%;
  }

  .features {
    margin-top: 3rem;
    align-items: flex-start;
  }

  .features h2 {
    font-size: 4.5rem;
  }

  .features ul {
    display: flex;
    gap: 2rem;
  }

  .features li {
    align-items: flex-start;
    text-align: left;
  }
}
