nav {
  background: var(--color-neutral-light);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.main-nav ul {
  display: none;
  list-style: none;
  color: var(--color-secondary-dark);
}

.main-nav__logo {
  width: 8rem;
}

.hamb-btn {
  border: none;
  background: none;
  cursor: pointer;
}

@media (min-width: 40em) {
  .main-nav ul {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 1rem;
  }

  .hamb-btn {
    display: none;
  }
}
